<!DOCTYPE html>
<html class="wide wow-animation smoothscroll scrollTo" lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Site Title-->
    <title>Add Doctor</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="SANA design multipurpose template">
    <meta name="date" content="Dec 26">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
    <!-- Page Header-->
    <header class="page-head">
        <!-- RD Navbar minimal-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-minimal rd-navbar-light" data-md-device-layout="rd-navbar-fixed"
                 data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-device-layout="rd-navbar-static" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px">
                <div class="rd-navbar-inner">
                    <div class="rd-navbar-top-panel">
                        <div>
                            <address class="contact-info d-md-inline-block text-left offset-none">
                                <div class="p unit unit-spacing-xs flex-row">
                                    <div class="unit-left"><span
                                            class="icon icon-xs icon-circle icon-gray-light mdi mdi-phone text-primary"></span>
                                    </div>
                                    <div class="unit-body"><a class="link-inherit font-weight-medium" href="tel:#">+(374)98-97-96-17</a><br/><a
                                            class="link-inherit font-weight-medium" href="tel:#">+(374)93-77-66-94</a>
                                    </div>
                                </div>
                            </address>
                        </div>


                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand d-none d-xl-inline-block"><a href="/"><img
                                src="images/logo-default-404x92.png" alt="" width="202" height="46"/></a></div>
                        <div>
                            <address class="contact-info d-md-inline-block text-left">
                                <div class="p unit flex-row unit-spacing-xs">
                                    <div class="unit-body"><a class="link-inherit font-weight-medium white-space-wrap"
                                                              href="#">2130 Fulton Street San Diego<br/>CA 94117-1080
                                        USA</a></div>
                                </div>
                            </address>
                        </div>
                    </div>


                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap">
                            <span></span></button>
                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand d-xl-none"><a href="index.html"><img
                                src="images/logo-default-404x92.png" alt="" width="202" height="46"/></a></div>
                        <button class="rd-navbar-top-panel-toggle"
                                data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel"><span></span></button>
                    </div>


                    <div class="rd-navbar-menu-wrap">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-mobile-scroll">
                                <!--Navbar Brand Mobile-->
                                <div class="rd-navbar-mobile-brand"><a href="/"><img src="images/logo-default-404x92.png" alt="" width="202" height="46"/></a></div>

                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li><a href="/"><span>Home</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                    <li><a href="/about"><span>About</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                    <li><a href="/ourTeam"><span>Team</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                    <li><a href="/services"><span>Services</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                    <li><a href="/timetable"><span>Timetable</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>

                                    <!-- Գալերեայի պահը պտի քննարկենք հասկնանք ինչխ էնենք-->
                                    <li><a href="grid-gallery.html"><span>Gallery</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                        <ul class="rd-navbar-dropdown">
                                            <li><a href="grid-gallery.html"><span
                                                    class="text-middle">Grid Gallery</span></a>
                                            </li>
                                            <li><a href="grid-gallery-no-padding.html"><span class="text-middle">Gallery Without Padding</span></a>
                                            </li>
                                            <li><a href="masonry-gallery.html"><span
                                                    class="text-middle">Masonry Gallery</span></a>
                                            </li>
                                            <li><a href="cobbles-gallery.html"><span
                                                    class="text-middle">Cobbles Gallery</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Modern Breadcrumbs-->
    <section class="breadcrumb-modern novi-background bg-cover text-lg-left">
        <div class="container section-34 section-md-top-110 section-md-bottom-41">
            <h1>Add Doctor</h1>
        </div>
    </section>

    <!-- Register -->
    <section class="offset-top-90 offset-md-top-130">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-start">
                <div class="col-sm-8">
                    <h5>Please fill all fields</h5>
                    <hr class="text-subline">
                    <div class="offset-top-30">
                        <form class="rd-mailform text-left" data-form-output="form-output-global"
                              data-form-type="contact" method="post" action="/addDoctor" novalidate="novalidate"
                              enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-6 offset-top-20 offset-sm-top-0">
                                    <!-- name -->
                                    <div class="form-group form-group-label-outside">
                                        <label class="form-label form-label-outside text-dark rd-input-label" for="name">Name</label>
                                        <input class="form-control form-control-last-child" id="name" type="text" name="name" data-constraints="@Required">
                                    </div>
                                    <!-- email -->
                                    <div class="form-group form-group-label-outside offset-top-20">
                                        <label class="form-label form-label-outside text-dark rd-input-label" for="email">E-mail</label>
                                        <input class="form-control form-control-last-child" id="email" type="email" name="email" data-constraints="@Email @Required">
                                    </div>
                                </div>


                                <div class="col-sm-6 offset-top-20 offset-sm-top-0">
                                    <!--surname -->
                                    <div class="form-group form-group-label-outside">
                                        <label class="form-label form-label-outside text-dark rd-input-label" for="surname">Surname</label>
                                        <input class="form-control form-control-last-child" id="surname" type="text" name="surname" data-constraints="@Required">
                                    </div>

                                    <!-- password  -->
                                    <div class="form-group form-group-label-outside offset-top-20">
                                        <label class="form-label form-label-outside text-dark rd-input-label" for="password">Password</label>
                                        <input class="form-control form-control-last-child" id="password" type="password" name="password" data-constraints="@Required">
                                    </div>
                                </div>

                                <!-- phone number  -->
                                <div class="col-sm-6 offset-top-20 offset-sm-top-0">
                                    <div class="form-group form-group-label-outside">
                                        <label class="form-label form-label-outside text-dark rd-input-label" for="phone">Phone</label>
                                        <input class="form-control form-control-last-child" id="phone" type="text" name="phone" data-constraints="@IsNumeric @Required">
                                    </div>
                                </div>

                                <!-- picture upload -->
                                <div class="col-sm-6 offset-top-20 offset-sm-top-0">
                                    <div class="form-group form-group-label-outside">
                                        <label class="form-label form-label-outside text-dark rd-input-label" for="picture">Picture</label>
                                        <button style="display:block;" onclick="document.getElementById('getFile').click()" class="btn btn-xs btn-ellipse btn-primary">choose picture</button>Choose picture</button>
                                        <input type="file" id="getFile" style="display:none" name="picture">
                                    </div>
                                </div>
                                <!-- SPECIALIZATION  -->
                                <div class="container">
                                    <div class="row justify-content-center justify-content-lg-start">
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-6 offset-top-20 offset-sm-top-0">
                                                    <div class="form-group form-group-label-outside">
                                                        <label class="form-label form-label-outside " for="specialization">Specialization</label>
                                                        <select th:each="spec: ${specializations}" name="specialization" id="specialization">
                                                            <option th:value="${spec.id}" th:text="${spec.name}">specialization</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="offset-top-18 offset-sm-top-30 text-center text-sm-left">
                                            <input class="btn btn-ellipse btn-primary" type="submit"
                                                   style="min-width: 130px;" value="add">
                                        </div>
                                    </div>


                                    <div class="col-sm-6 offset-top-20 offset-sm-top-0">
                                        <hr>
                                    </div>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>


    <!-- Page Footer-->
    <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-secondary novi-background bg-cover">
        <div class="container">
            <div class="row justify-content-md-center text-xl-left">
                <div class="col-md-8 col-lg-12">
                    <div class="row justify-content-sm-center row-50">
                        <div class="col-sm-10 text-sm-left col-lg-4 order-lg-2 text-left">
                            <h6>contact us</h6>
                            <hr class="text-subline">
                            <div class="text-center text-xl-left">
                                <address class="contact-info d-md-inline-block text-left">
                                    <div class="p unit unit-spacing-xxs flex-row">
                                        <div class="unit-left"><span
                                                class="icon icon-xxs mdi mdi-phone text-primary novi-icon"></span></div>
                                        <div class="unit-body"><a class="text-gray-darker"
                                                                  href="tel:#">+(374)93-77-66-94</a><span
                                                class="text-gray-darker">, </span><a class="text-gray-darker"
                                                                                     href="tel:#">+(374)98-97-96-17</a>
                                        </div>
                                    </div>
                                    <div class="p unit flex-row unit-spacing-xxs">
                                        <div class="unit-left"><span
                                                class="icon icon-xxs mdi mdi-map-marker text-primary novi-icon"></span>
                                        </div>
                                        <div class="unit-body"><a class="text-gray-darker" href="#">2130 Fulton Street
                                            San Diego, CA 94117-1080 USA</a></div>
                                    </div>
                                    <div class="p unit unit-spacing-xxs flex-row offset-top-16">
                                        <div class="unit-left"><span
                                                class="icon icon-xxs mdi mdi-email-outline text-primary novi-icon"></span>
                                        </div>
                                        <div class="unit-body"><a class="text-primary"
                                                                  href="mailto:#">info@demolink.org</a></div>
                                    </div>
                                </address>
                            </div>
                        </div>


                        <div class="col-sm-10 col-lg-4 order-lg-1">
                            <!-- Footer brand-->
                            <div class="footer-brand"><a href="index.html"><img src="images/logo-inverse-404x92.png"
                                                                                alt="" width="202" height="46"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container offset-top-50 offset-md-top-60">
            <p class="text-lg-left">&copy; <span class="copyright-year"></span> All Rights Reserved
            </p>
        </div>
    </footer>
</div>
<!-- Preloader-->
<div class="preloader">
    <div class="preloader-body">
        <div class="preloader-inner">
            <div class="preloader-item"><span></span><span></span><span></span></div>
            <div class="preloader-item"><span></span><span></span><span></span></div>
            <div class="preloader-item"><span></span><span></span><span></span></div>
            <div class="preloader-item"><span></span><span></span><span></span></div>
        </div>
    </div>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Java script-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>