<!DOCTYPE html>
<html class="wide wow-animation smoothscroll scrollTo" lang="en">
<head>
    <!-- Site Title-->
    <title>Forms</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="SANA design multipurpose template">
    <meta name="date" content="Dec 26">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="../static/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="../static/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Page-->
<div class="page text-center">
    <!-- Page Header-->
    <header class="page-head">
        <!-- RD Navbar minimal-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-minimal rd-navbar-light" data-md-device-layout="rd-navbar-fixed"
                 data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-device-layout="rd-navbar-static" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px">
                <div class="rd-navbar-inner">
                    <div class="rd-navbar-top-panel">
                        <div>
                            <address class="contact-info d-md-inline-block text-left offset-none">
                                <div class="p unit unit-spacing-xs flex-row">
                                    <div class="unit-left"><span
                                            class="icon icon-xs icon-circle icon-gray-light mdi mdi-phone text-primary"></span>
                                    </div>
                                    <div class="unit-body"><a class="link-inherit font-weight-medium" href="tel:#">(+374)98-97-96-17</a><br/><a
                                            class="link-inherit font-weight-medium" href="tel:#">(+374)93-77-66-94</a>
                                    </div>
                                </div>
                            </address>
                        </div>
                        <!--Navbar Brand-->
                        <div><a href="index.html"
                                style="color: #0E7EB5; font-family: 'Dela Gothic One';font-size: 22px;">HEALTH
                            ADVISORS</a></div>
                        <div>
                            <address class="contact-info d-md-inline-block text-left">
                                <div class="p unit flex-row unit-spacing-xs">
                                    <div class="unit-left"><span
                                            class="icon icon-xs icon-circle icon-gray-light mdi mdi-map-marker text-primary"></span>
                                    </div>
                                    <div class="unit-body"><a class="link-inherit font-weight-medium white-space-wrap"
                                                              href="#">2130 Fulton Street San Diego<br/>CA 94117-1080
                                        USA</a></div>
                                </div>
                            </address>
                        </div>
                    </div>
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap">
                            <span></span></button>
                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand d-xl-none"><a href="index.html"><img
                                src="images/logo-default-404x92.png" alt="" width="202" height="46"/></a></div>
                        <button class="rd-navbar-top-panel-toggle"
                                data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel"><span></span></button>
                    </div>
                    <div class="rd-navbar-menu-wrap">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-mobile-scroll">
                                <!--Navbar Brand Mobile-->
                                <div class="rd-navbar-mobile-brand"><a href="index.html"><img
                                        src="images/logo-default-404x92.png" alt="" width="202" height="46"/></a></div>
                                <div class="form-search-wrap">
                                    <!-- RD Search Form-->
                                    <form class="form-search rd-search" action="search-results.html" method="GET">
                                        <div class="form-wrap">
                                            <label class="form-label form-search-label form-label-sm"
                                                   for="rd-navbar-form-search-widget">Search</label>
                                            <input class="form-search-input form-control form-control-gray-lightest input-sm"
                                                   id="rd-navbar-form-search-widget" type="text" name="s"
                                                   autocomplete="off"/>
                                        </div>
                                        <button class="form-search-submit" type="submit"><span
                                                class="fa fa-search"></span></button>
                                    </form>
                                </div>
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="active"><a href="index.html"><span>Գլխավոր</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                    <li><a href="about.html"><span>Մեր մասին</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                    <li><a href="our-team.html"><span>Մեր Թիմը</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                    <li><a href="#"><span>Էջեր</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                        <div class="rd-navbar-megamenu">
                                            <div class="row">
                                                <div class="col-xl-4">
                                                    <h6>Էլեմենտներ</h6>
                                                    <hr class="text-subline"/>
                                                    <ul class="list-unstyled offset-lg-top-25">

                                                        <li><a href="forms.html">Ձևաթղթեր</a></li>

                                                        <li><a href="faq.html">Հաճախ Տրվող Հարցեր </a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-xl-4">
                                                    <h6>Էջեր 1</h6>
                                                    <hr class="text-subline"/>
                                                    <ul class="list-unstyled offset-lg-top-25">

                                                        <li><a href="coming-soon.html">Շուտով</a></li>
                                                        <li><a href="doctorPage.html">Թիմի անդամի պրոֆիլը</a></li>
                                                        <li><a href="careers.html">
                                                            Կարիերա</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-xl-4">
                                                    <h6>Էջեր 2</h6>
                                                    <hr class="text-subline"/>
                                                    <ul class="list-unstyled offset-lg-top-25">

                                                        <li><a href="search-results.html">Որոնում</a></li>
                                                        <li><a href="make-an-appointment.html">Հերթագրվել</a></li>
                                                        <li><a href="pricing.html">Գնացուցակ</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="services.html"><span>Ծառայություններ</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>

                                    </li>
                                    <li><a href="timetable.html"><span>Ժամատախտակ</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>


                                    <li><a href="contacts.html"><span>Կոնտակտներ</span><span
                                            class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--RD Navbar Search-->
                        <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi"
                                                         data-rd-navbar-toggle=".rd-navbar-menu-wrap,.rd-navbar-search"
                                                         href="#"><span></span></a>
                            <form class="rd-navbar-search-form search-form-icon-right rd-search"
                                  action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                <div class="form-wrap">
                                    <label class="form-label" for="rd-navbar-search-form-control">Type and hit
                                        enter...</label>
                                    <input class="rd-navbar-search-form-control form-control form-control-gray-lightest"
                                           id="rd-navbar-search-form-control" type="text" name="s" autocomplete="off"/>
                                </div>
                                <div class="rd-search-results-live" id="rd-search-results-live"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <section class="offset-top-90 offset-md-top-130">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-start">
                <div class="col-sm-8">
                    <h6 class="text-md-left">sign up</h6>
                    <hr class="text-subline">
                    <div class="offset-top-30">
                        <form class="rd-mailform text-left" data-form-output="form-output-global"
                              data-form-type="contact" method="post" action="/register"
                              novalidate="novalidate">
                            <div class="row">


                                <div class="col-sm-6">
                                    <!--input place name-->
                                    <div class="form-group form-group-label-outside">
                                        <label>Անուն*</label>
                                        <input class="form-control form-control-last-child"
                                               type="text" name="name" data-constraints="@Required">
                                    </div>
                                    <!--input place surname-->
                                    <div class="form-group form-group-label-outside offset-top-20">
                                        <label
                                                for="contacts-2-email">Ազգանուն*</label>
                                        <input class="form-control form-control-last-child" id="contacts-2-email"
                                               type="text" name="surname" data-constraints="@Required">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <!--input place email-->
                                    <div class="form-group form-group-label-outside">
                                        <label>Էլ․ հասցե*</label>
                                        <input class="form-control form-control-last-child" id="contacts-2-first-name2"
                                               type="email" name="email" data-constraints="@Email @Required">
                                    </div>
                                    <!--input place password-->
                                    <div class="form-group form-group-label-outside offset-top-20">
                                        <label for="contacts-2-email">Գաղտնաբառ*</label>
                                        <input class="form-control form-control-last-child" id="contacts-2-email2"
                                               type="password" name="password" data-constraints="@Password @Required">
                                    </div>
                                </div>


                                <!--input place phone number-->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-label-outside">
                                        <label>Բջջ․ հեռախոսահամար*</label>
                                        <input class="form-control form-control-last-child"
                                               type="text" name="phone" data-constraints="@Required">
                                    </div>
                                </div>


                                <!--input place add picture-->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-label-outside">
                                        <label>Ընտրել նկար</label>
                                        <input class="form-control form-control-last-child"
                                               type="file" name="picUrl">
                                    </div>
                                </div>


                                <!--input type submit-->
                                <div class="offset-top-18 offset-sm-top-30 text-center text-sm-left">
                                    <input class="btn btn-ellipse btn-primary" type="submit"
                                           style="min-width: 130px;" value="register">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</div>
</body>
</html>